body{
    margin: 0px;
}
.header-fixed{
    position: fixed;
    top:0;
}
.advertisement-top{
    padding-left:100px ;
    background-color: rgb(240,60,75);
}
.text-font{
    margin: 16px 500px 16px 140px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#303030;
    font-size: 18px;
    line-height: 30px;
}
.index-font{
    margin: 16px 500px 16px 140px;
    font-family:Arial,sans-serif ;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
}
.index-decoration{
    color:#00553c;
    font-weight: 800;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 1px;
}
.title-font {
    margin: 16px 500px 16px 140px;
    font-family: Arial,sans-serif;
    color:#303030;
    font-size: 35px;
    font-weight: 800;
}
.h2-font{
    margin: 16px 500px 16px 140px;
    font-family: Arial,sans-serif;
    color:#303030;
    font-weight: 800;
}
.font-uppercase {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
.font-italic{
    margin: 16px 500px 16px 140px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color:#303030;
    font-size: 18px;
    line-height: 30px;    
}
.info-font{
    margin: 16px 500px 0px 140px;
    font-family: Arial, sans-serif;
    color:#303030;
    font-size: 16px;
    line-height: 30px;
}
.info2-font{
    font-family: Arial, sans-serif;
    color:#626262;
    font-size: 12px;
    margin: 0px 500px 0px 140px;
    line-height: 30px;
}
.info-text{
    margin-left: 6px;
    padding-left: 6px;
    border-left: 1px solid #626262;
    font-weight: 700;
}
.font-black {
    color:#303030;
    font-weight: 800;
}
.social-icon-div{
    margin: 16px 500px 16px 140px;
}
.social-img-icon{
    margin:0px 5px;
    text-decoration: none;
}
.link-decoration{
    color: #303030;
    text-decoration:underline;
    text-decoration-color: #0098fe;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}
.link-decoration:hover{
    color:black;
}
.advertisement-margin{
    margin-right: 100px;
}
.advertisement-float{
    float: right;
}
.advertisement-float2{
    float: right;
    margin-right: 150px;
}
.advertisement-sticky{
    position: sticky;
    top:150px;
}
.advertisement-text-margin{
    margin: 16px 500px 16px 140px;
}
.text-float{
    margin-right: 100px;
}

.text-float-font{
    float: right;
    margin: 15px 0 36px;
    padding: 14px 16px 16px;
    border: 6px solid #0098fe;
    width: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#303030;
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
    line-height: 20px;
}
.text-ul-font{
    margin: 16px 500px 16px 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#303030;
    font-size: 18px;
    line-height: 30px;
}
.advertisement-body-margin{
    margin-top: 150px;
}

.navbar-ul-1{
    list-style-type: none;
    margin: 0px;
    padding: 10px 50px 10px 50px;
    background-color: white;
}

.navbar-li-icon{
    display: inline;
    margin: 0px 13px;
    padding: 10px 70px 0px 0px;
}
.navbar-li-1{
    display: inline;
    margin: 0px 15px;
    padding: 10px 40px 0px 0px;
    border-top: 6px solid #3cc37d;
    
}
.navbar-li-icon-font{
    padding: 8px 8px 8px 0px;
    font-family: Arial,sans-serif;
    color: #303030;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
}
.navbar-li-a-font{
    padding: 8px 8px 8px 0px;
    font-family: Arial,sans-serif;
    color: #303030;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}
.navbar-li-suscribe{
    display: inline;
    margin: 0px 15px;
    padding: 10px 70px 0px 0px;
}
.navbar-li-a-suscribe{
    padding: 8px 8px 8px 0px;
    font-family: Arial,sans-serif;
    color: blue;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}
.navbar-ul-2{
    list-style-type: none;
    margin: 0px;
    padding: 4px 300px 4px 80px;
    background-color:#303030;
}
.navbar-li-2{
    display: inline;
    padding: 0px 5px;    
}
.navbar-li-2-a-font{
    padding: 8px;
    font-family: Arial,sans-serif;
    font-size: 14px;
    color: white;
    font-weight: 700;
    text-decoration: none;
}
.navbar-li-2-a-font:hover{
    color:#E9E8E8;
}
